@import url('debug.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container-big {
    max-width: 1180px;
    margin: auto;
}

.container-sm {
    max-width: 1050px;
    margin: auto;
}

/* -------------BUTTONS------------- */

.btn {
    border: none;
    padding: 10px 10px;
    font-size: 15px;
}

.btn.primary {
    background-color: #0061ff;
}

.btn.primary a {
    color: white;
    text-decoration: none;
}

.btn.primary a:hover {
    text-decoration: underline;
}

.btn.light {
    background-color: white;
    border: 1px solid black;
}

.btn.light a {
    color: black;
    text-decoration: none;
}

.btn.light:hover {
    text-decoration: underline;
}

.header-nav button {
    position: relative;
    top: -5px;
}

.header-nav button {
    padding: 6px 0;
}

/* -------------HEADER------------- */

/* NAV */
.header-nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header-nav ul {
    display: flex;
    list-style: none;
    position: relative;
    top: 3.5px;
}

.header-nav li a {
    padding: 0 20px;
    text-decoration: none;
    color: black;
}

.header-nav li a:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

.header-nav img {
    position: relative;
    top: -2px;
    margin-right: 25px;
}

/* HERO */
.header-hero {
    background-color: #b4d0e7;
    margin-top: 80px;
    width: 100%;
    min-height: 660px;
}

.header-hero-inner {
    height: 100%;
}

.header-hero-inner .row {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 40px;
}

.header-hero-inner  h1{
    font-size: 76px;
    padding-top: 80px;
}

.header-hero-inner p {
    position: relative;
    width: 35%;
}

.header-hero-inner button {
    display: block;
    margin: 30px 0;
}

.header-hero-inner img {
    width: 65%;
    position: absolute;
    top: 0;
    right: -15px;
}

.header-hero-inner i {
    display: block;
    position: absolute;
    font-size: 50px;
    bottom: -80px;
    left: 0;
}

/* --------------MAIN-------------- */

/* SEZIONE COLONNE */
section:nth-child(1) {
    padding-top: 130px;
    font-size: 14px;
}

section h2 {
    font-size: 32px;
}

.checkbox {
    position: relative;
    left: -25px;
}

.checkbox input{
    position: relative;
    margin: 70px 15px;
    left: 11px;
}

section .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section .col {
    width: calc(100%/3 - 25px);
    border: 1px solid lightgray;
}

section .col-header {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

section .col span i {
    position: relative;
    left: -3px;
}

section .col-content {
    padding: 30px 35px;
}

section .col-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.col ul {
    list-style: none;
    padding: 40px 0;
}

.col ul li {
    padding: 10px 0;
}

.col button {
    width: 100%;
    margin-bottom: 30px;
}

.col hr {
    margin: 45px 0;
    width: 20%;
}

.col-content .checklist i {
    color: #0061ff;
}

.col.big {
    width: 100%;
    margin-top: 45px;
}

.col.big .col-content {
    position: relative;
}

.col.big .btn {
    width: 25%;
    position: absolute;
    top: 30px;
    right: 35px;
}

.col.big .col-content span {
    display: inline-block;
    width: 65%;
}

/* SEZIONE 2 - PARTNER */
section:nth-child(2) {
    width: 100%;
    display: flex;
    margin: 140px auto;
}

section:nth-child(2) h3 {
    font-size: 24px;
}

section:nth-child(2) img {
    width: 60%;
}

section:nth-child(2) .info-box {
    padding: 30px 55px;
    width: 40%;
}

section:nth-child(2) .info-box * {
    margin: 20px 0;
}

/* SEZIONE 3 - DROPBOX BUSINESS */
section:nth-child(3) .col {
    min-height: 300px;
    border: none;
    margin: 30px 0;
}

section:nth-child(3) img {
    width: 100%;
}

section:nth-child(3) h2 {
    margin-bottom: 30px;
}

section:nth-child(3) h3 {
    font-size: 22px;
    margin-bottom: 30px;
}

/* SEZIONE 4: SCOPRI DI PIU' */

section:nth-child(4) {
    margin: 100px auto;
}

section:nth-child(4) h2 {
    margin: 70px 0;
}

/* SEZIONE 5: LAYOUT QUADRATI */